
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# Environments
.env
.venv/
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# VSCode
.vscode/

# PyCharm
.idea/

# Logs
*.log

# SQLite
*.sqlite3
